@media (max-width:767px) {
body {
  /* padding: 2vmin;
  padding-top: 4%; */
  position: relative;
  /* display: flex;
  flex-direction: column;
  height: 50vh; */
  font-family: 'Urbanist', sans-serif;
  /* background-image: linear-gradient(160deg, #cc6c69 0%, #c2b06ef5 70%, #f7c514 98%);   */
  background: linear-gradient(80deg, rgba(79,71,137,1) 40%, rgba(32,19,53,1) 81%);
}

html {
  scroll-behavior: smooth;
}

#EOnavbar .navbar-brand {
  font-size: 8vmin;
  color: rgb(168, 146, 98);
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 2.5vmin;
  font-weight: bolder;
  color: white;
  padding: 2vmin;
}

.nav-pills .nav-link.active {
  background-color: white;
  width: fit-content;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(168, 146, 98);
}

.nav-transparent {
  background-color: transparent;
  transition: background-color 300ms linear;
}

.nav-colored {
  background-color: rgba(154, 27, 47, .9) !important;
  transition: background-color 300ms linear;
}

#intro-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_page_image_slideshow {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: top-slideshow 60s linear infinite;
}

@keyframes top-slideshow {
  0% {
    /* Ireland */
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/Trinity-College-Ireland-2019.jpg');
  }
  25% {
    /* AUFC */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-Championship-2018.jpg");
  }
  50% {
    /* Zion */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Zion.jpg");
  }
  75% {
    /* SJ USVI */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/St-John-View-2022.jpg");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/Trinity-College-Ireland-2019.jpg');
  }
}

#lead-in {
  background-color: rgba(174, 179, 190, .8);
  padding-top: 1vmin;
  padding-bottom: 4vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  border-radius: 4vmin;
  display: grid;
}

#lead-in #intro-h {
 justify-self: center;
 color: white;
 font-family: 'Questrial', sans-serif;
 font-weight: bolder;
 font-size: 7vmin;
}

#intro-div p {
  text-align: left;
  font-weight: bold;
  color: #fff;
  font-size: 3vmin;
  display: grid;
}

#rotating-text span{
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  animation: rotating-text 40s linear infinite;
}

#rotating-text span:nth-child(2) {
  animation-delay: 5s;
}

#rotating-text span:nth-child(3) {
  animation-delay: 10s;
}

#rotating-text span:nth-child(4) {
  animation-delay: 15s;
}

#rotating-text span:nth-child(5) {
  animation-delay: 20s;
}

#rotating-text span:nth-child(6) {
  animation-delay: 25s;
}

#rotating-text span:nth-child(7) {
  animation-delay: 30s;
}

#rotating-text span:nth-child(8) {
  animation-delay: 35s;
}

@keyframes rotating-text {
  0% {
    opacity: 0;
  }
  5% {
    transform: translateY(-20px);
  }
  7% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  22% {
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#About {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* background-color: #bd615e;   */
}

#About #about-h {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
  font-size: 6vmin;
}

.about {
  display: flex;
  flex-direction: column;
}

#headshot {
  align-self: center;
  scale: 100%;
  min-height: 35vh;
  width: 70vw;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 1vmin;
  margin: 1vmin;
  /* background-image: linear-gradient(140deg, #2a5fff 0%, #a3a3a3df 40%, #9ac001 85%); */
}

.hsactive {
  animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

#About p {
  align-self: center;
  text-align: center;
  font-size: 3vmin;
  padding: 2vmin;
  color: #59e39f;
}

hr {
  color: #59e39f;
}

#Skills {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(140deg, #cc6c69 0%, #c2b06ef5 60%, #ffe941 90%);   */
}

#Skills p {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#skill-icons {
  background-color: rgba(255,255,255, .7);
  border-radius: 3vmin;
  padding: 2vmin;
}

.iconsfadein {
  animation: icons-fade-in 2.5s ease;
}

@keyframes icons-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.iconsfadeout {
  animation: icons-fade-out 2.5s ease;
}

@keyframes icons-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

icons div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 19vw);
  column-gap: 4vmin;
  scale: 70%;
}

icons div:last-child {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 21vw);
  scale: 70%;
  column-gap: 4vmin;
}

icons div > * {
  height: 10vh;
  width: 20vw;
}

#Work {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
}

.proj-title {
color: #59e39f;
font-size: 4.5vmin;
text-decoration: underline;
}

#Work #work-p {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

#Work icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 10vh;
  align-self: center;
}

#Work icons img {
  margin-right: 1.6vmin;
}

#Work form {
  margin: 1vmin;
}

#materialize-ic {
  height: 5vh;
  width: 8vmin;
}

#mongoose-ic {
  height: 10vh;
  width: 11vw;
}

#powepal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7vh 20vh 40vh 15vh 10vh;
}

#powepal p {
  grid-column: 1/ span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  max-height: 100%;
  padding: 2vmin;
  color: rgba(193,255,114,1);
  font-size: 1.75vh;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.powepal-slideshow {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: powepal-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 3 ;
  grid-column: 1 / span 2;
}

@keyframes powepal-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/PowePalLoginScreen.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/ResortListPage.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/ResortInfoHomePage.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/TrailHomePagewithGoogleMapAPI.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/WeatherPagewithWeatherAPI.png');
  }
}

#powepal icons {
  grid-column: 1 / span 2;
  grid-row: 4;
}

#powepal form {
  grid-row: 5;
  align-self: center;
  justify-self: center;
  color: #7e7c7c;
}

#powepal form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}


#docupets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7vh 20vh 40vh 15vh 10vh;
}

#docupets p {
  grid-column: 1/ span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  max-height: 100%;
  padding: 2vmin;
  color: #ef8354;
  font-size: 1.75vh;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.docupets-slideshow {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: docupets-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 3 ;
  grid-column: 1 / span 2;
}

@keyframes docupets-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-add-visit.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-petdetail_mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Docupets-sidenav.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
}

#docupets icons {
  grid-column: 1 / span 2;
  grid-row: 4;
}

#docupets form {
  grid-row: 5;
  align-self: center;
  justify-self: center;
  color: #7e7c7c;
}

#docupets form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}


#JerseyCollector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 40vh 12vh 10vh;
}

#JerseyCollector p {
  grid-column: 1;
  grid-row: 2;
}

/* .JerseyCollector-slideshow {
  height: 45vh;
  width: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: JerseyCollector-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 2;
  grid-column: 2;
}

@keyframes JerseyCollector-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-add-visit.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-petdetail_mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Docupets-sidenav.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
} */

#JerseyCollector icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#JerseyCollector form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#JerseyCollector form button {
  font-size: 2vmin;
}

#LAMS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8vh 20vh 40vh 17vh 10vh;
}

#LAMS .proj-title {
  grid-column: 1 /span 2;
  grid-row: 1;
  text-decoration: underline;
}

#LAMS p {
  grid-column: 1 / span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  max-height: 100%;
  padding: 2vmin;
  color: #b00404;
  font-size: 1.75vh;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.LAMS-slideshow {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: LAMS-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 3;
  grid-column: 1 / span 2;
}

@keyframes LAMS-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Home-Standard.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Roster-Mobile.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Add-an-Artist-Mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Deals-Page-Standard.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Home-Standard.png');
  }
}

#LAMS icons {
  grid-column: 1 / span 2;
  grid-row: 4;
}

#LAMS form {
  grid-row: 5;
  align-self: center;
  justify-self: center;
}

#LAMS form button {
  font-size: 4vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#MasterMind {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vh 20vh 30vh 10vh 10vh;
}

#MasterMind p {
  grid-column: 1 /span 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 2vmin;
  max-height: 100%;
  color: rgb(154, 27, 47);
  font-size: 1.75vh;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.MasterMind-slideshow {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: MasterMind-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 3;
  grid-column: 1 /span 2;
}

@keyframes MasterMind-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Initial.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-Mastermind-Guess-Screen.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Loss.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Win.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Initial.png');
  }
}

#MasterMind icons {
  grid-column: 1 / span 2;
  grid-row: 4;
  align-self: center;
  justify-self: flex-start;
}

#MasterMind form {
  grid-row: 5;
  align-self: center;
  justify-self: center;
}

#MasterMind form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#Contact {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  align-items: center;
}

#Contact #contact-p {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  /* color:#d7fa6e; */
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

#Contact p {
  text-align: center;
  font-size: 3vmin;
}

#contact-ptext {
  background-color: rgba(154, 27, 47, .8);
  padding: 1.5vmin;
  border-radius: 2vmin;
  font-size: 3vmin;
  color: rgb(168, 146, 98);
  font-weight: bolder;
}

#social-buttons {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
}

#social-buttons form {
  margin: 2vmin;
}

#social-buttons button {
  color: #59e39f;
  border-color: #59e39f;
  font-size: 4vmin;
}

footer {
  padding: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2.5vmin;
  color: #59e39f;
}
}
/* ====================================================================== */

@media (min-width: 768px) and (max-width:1000px) {
body {
  /* padding: 2vmin;
  padding-top: 4%; */
  position: relative;
  /* display: flex;
  flex-direction: column;
  height: 50vh; */
  font-family: 'Urbanist', sans-serif;
  /* background-image: linear-gradient(160deg, #cc6c69 0%, #c2b06ef5 70%, #f7c514 98%);   */
  background: linear-gradient(80deg, rgba(79,71,137,1) 40%, rgba(32,19,53,1) 81%);
}

html {
  scroll-behavior: smooth;
}

#EOnavbar .navbar-brand {
  font-size: 11vmin;
  color: rgb(168, 146, 98);
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 2.5vmin;
  font-weight: bolder;
  color: white;
  padding: 2vmin;
}

.nav-pills .nav-link.active {
  background-color: white;
  width: fit-content;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(168, 146, 98);
}

.nav-transparent {
  background-color: transparent;
  transition: background-color 300ms linear;
}

.nav-colored {
  background-color: rgba(154, 27, 47, .9) !important;
  transition: background-color 300ms linear;
}

#intro-div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_page_image_slideshow {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: top-slideshow 60s linear infinite;
}

@keyframes top-slideshow {
  0% {
    /* Ireland */
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/Trinity-College-Ireland-2019.jpg');
  }
  25% {
    /* AUFC */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-Championship-2018.jpg");
  }
  50% {
    /* Zion */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Zion.jpg");
  }
  75% {
    /* SJ USVI */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/St-John-View-2022.jpg");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/Trinity-College-Ireland-2019.jpg');
  }
}

#lead-in {
  background-color: rgba(174, 179, 190, .8);
  padding-top: 1vmin;
  padding-bottom: 4vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  border-radius: 4vmin;
  display: grid;
}

#lead-in #intro-h {
  justify-self: center;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
  font-size: 7vmin;
}

#intro-div p {
  text-align: left;
  font-weight: bold;
  color: #fff;
  font-size: 3vmin;
  display: grid;
}

#rotating-text span{
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  animation: rotating-text 40s linear infinite;
}

#rotating-text span:nth-child(2) {
  animation-delay: 5s;
}

#rotating-text span:nth-child(3) {
  animation-delay: 10s;
}

#rotating-text span:nth-child(4) {
  animation-delay: 15s;
}

#rotating-text span:nth-child(5) {
  animation-delay: 20s;
}

#rotating-text span:nth-child(6) {
  animation-delay: 25s;
}

#rotating-text span:nth-child(7) {
  animation-delay: 30s;
}

#rotating-text span:nth-child(8) {
  animation-delay: 35s;
}

@keyframes rotating-text {
  0% {
    opacity: 0;
  }
  5% {
    transform: translateY(-20px);
  }
  7% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  22% {
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#About {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding-bottom: 2vmin;
}

#About #about-h {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 4vmin;
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

.about {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#headshot {
  align-self: center;
  scale: 100%;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 1vmin;
  margin: 1vmin;
  /* background-image: linear-gradient(140deg, #2a5fff 0%, #a3a3a3df 40%, #9ac001 85%); */
}

.hsactive {
  animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

#About p {
  align-self: center;
  text-align: center;
  font-size: 1.75rem;
  padding: 2vmin;
  color: #59e39f;
}

hr {
  color: #59e39f;
}

#Skills {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  
}

#Skills p {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#skill-icons {
  background-color: rgba(255,255,255, .7);
  border-radius: 3vmin;
  padding: 2vmin;
}

.iconsfadein {
  animation: icons-fade-in 2.5s ease;
}

@keyframes icons-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.iconsfadeout {
  animation: icons-fade-out 2.5s ease;
}

@keyframes icons-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

icons div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 15vw);
  column-gap: 1vmin;
  margin: 2vmin;
  justify-items: center;
}

icons div:last-child {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 15vw);
  column-gap: 1vmin;
  justify-items: center;
}

icons div > * {
  height: 11vh;
  width: 12vw;
}

#Work {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
}

#Work #work-p {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

.proj-title {
color: #59e39f;
font-size: 4.5vmin;
text-decoration: underline;
}

#Work icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 10vh;
  align-self: center;
}

#Work icons img {
  margin-right: 1.6vmin;
}

#Work form {
  margin: 1vmin;
}

#materialize-ic {
  height: 7vmin;
  width: 6vw;
}

#mongoose-ic {
  width: 11vw;
}

#powepal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vmin 45vmin 16vmin 16vmin;
}

#powepal p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 100%;
  padding: 3vmin;
  color: rgba(193,255,114,1);
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.powepal-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: powepal-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 2;
  grid-column: 2;
}

@keyframes powepal-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/PowePalLoginScreen.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/ResortListPage.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/ResortInfoHomePage.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/TrailHomePagewithGoogleMapAPI.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/WeatherPagewithWeatherAPI.png');
  }
}

#powepal icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#powepal form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#powepal form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#docupets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vmin 45vmin 16vmin 16vmin;
}

#docupets p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 100%;
  padding: 3vmin;
  color: #ef8354;
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.docupets-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: docupets-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 2;
  grid-column: 2;
}

@keyframes docupets-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-add-visit.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-petdetail_mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Docupets-sidenav.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
}

#docupets icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#docupets form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#docupets form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}


#JerseyCollector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 35vh 12vh 10vh;
}

#JerseyCollector p {
  grid-column: 1;
  grid-row: 2;
}

/* .JerseyCollector-slideshow {
  height: 45vh;
  width: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: JerseyCollector-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 2;
  grid-column: 2;
}

@keyframes JerseyCollector-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-add-visit.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-petdetail_mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Docupets-sidenav.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
} */

#JerseyCollector icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#JerseyCollector form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#JerseyCollector form button {
  font-size: 2vmin;
}

#LAMS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vmin 45vmin 16vmin 16vmin;
}

#LAMS .proj-title {
  grid-column: 1 /span 2;
  grid-row: 1;
  text-decoration: underline;
}

#LAMS p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 100%;
  padding: 4vmin;
  color: #b00404;
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.LAMS-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: LAMS-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
}

@keyframes LAMS-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Home-Standard.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Roster-Mobile.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Add-an-Artist-Mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Deals-Page-Standard.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Home-Standard.png');
  }
}

#LAMS icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#LAMS form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#LAMS form button {
  font-size: 4.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#MasterMind {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vmin 45vmin 16vmin 16vmin;
}

#MasterMind p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  padding: 4vmin;
  max-height: 100%;
  color: rgb(154, 27, 47);
  font-size: 2.3vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.MasterMind-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: MasterMind-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
}

@keyframes MasterMind-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Initial.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-Mastermind-Guess-Screen.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Loss.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Win.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Initial.png');
  }
}

#MasterMind icons {
  grid-column: 1 / span 2;
  grid-row: 3;
  align-self: center;
  justify-self: flex-start;
}

#MasterMind form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#MasterMind form button {
  font-size: 4vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#Contact {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  align-items: center;
}

#Contact #contact-p {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  /* color:#d7fa6e; */
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

#Contact p {
  text-align: center;
  font-size: 3vmin;
}

#contact-ptext {
  background-color: rgba(154, 27, 47, .8);
  padding: 1.5vmin;
  border-radius: 2vmin;
  font-size: 3vmin;
  color: rgb(168, 146, 98);
  font-weight: bolder;
}

#social-buttons {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
}

#social-buttons form {
  margin: 2vmin;
}

#social-buttons button {
  color: #59e39f;
  border-color: #59e39f;
  font-size: 4vmin;
}

footer {
  padding: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2.5vmin;
  color: #59e39f;
}

}

/* ============================================================================== */

@media (min-width: 1001px) {
body {
  /* padding: 2vmin;
  padding-top: 4%; */
  position: relative;
  /* display: flex;
  flex-direction: column;
  height: 50vh; */
  font-family: 'Urbanist', sans-serif;
  background: linear-gradient(80deg, rgba(79,71,137,1) 40%, rgba(32,19,53,1) 81%);
  /* background-image: linear-gradient(160deg, #cc6c69 0%, #c2b06ef5 70%, #f7c514 98%);   */
  /* background: linear-gradient(68deg, rgba(16,255,230,1) 17%, rgba(4,17,219,1) 52%, rgba(213,46,247,1) 85%); */
}

html {
  scroll-behavior: smooth;
}

#EOnavbar {
  display: flex;
  flex-direction: row;
}

#EOnavbar .navbar-brand {
  font-size: 11vmin;
  color: rgb(168, 146, 98);
  text-shadow: 1px 1px 1px #fff;
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 2.5vmin;
  font-weight: bolder;
  color: white;
  padding: 2vmin;
}

.nav-pills .nav-link.active {
  background-color: white;
  width: fit-content;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(168, 146, 98);
}

.nav-transparent {
  background-color: transparent;
  transition: background-color 300ms linear;
}

.nav-colored {
  background-color: rgba(154, 27, 47, .9) !important;
  transition: background-color 300ms linear;
}

#intro-div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_page_image_slideshow {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: top-slideshow 60s linear infinite;
}

@keyframes top-slideshow {
  0% {
    /* Ireland */
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/Trinity-College-Ireland-2019.jpg');
  }
  25% {
    /* AUFC */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-Championship-2018.jpg");
  }
  50% {
    /* Zion */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Zion.jpg");
  }
  75% {
    /* SJ USVI */
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/St-John-View-2022.jpg");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/Trinity-College-Ireland-2019.jpg');
  }
}

#lead-in {
  background-color: rgba(174, 179, 190, .8);
  padding-top: 1vmin;
  padding-bottom: 4vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  border-radius: 4vmin;
  display: grid;
}

#lead-in #intro-h {
  justify-self: center;
  color: white;
  font-family: 'Questrial', sans-serif;
  font-weight: bolder;
  font-size: 7vmin;
}

#intro-div p {
  text-align: left;
  font-weight: bold;
  color: #fff;
  font-size: 3vmin;
  display: grid;
}

#rotating-text span{
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  animation: rotating-text 40s linear infinite;
}

#rotating-text span:nth-child(2) {
  animation-delay: 5s;
}

#rotating-text span:nth-child(3) {
  animation-delay: 10s;
}

#rotating-text span:nth-child(4) {
  animation-delay: 15s;
}

#rotating-text span:nth-child(5) {
  animation-delay: 20s;
}

#rotating-text span:nth-child(6) {
  animation-delay: 25s;
}

#rotating-text span:nth-child(7) {
  animation-delay: 30s;
}

#rotating-text span:nth-child(8) {
  animation-delay: 35s;
}

@keyframes rotating-text {
  0% {
    opacity: 0;
  }
  5% {
    transform: translateY(-20px);
  }
  7% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  22% {
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#About {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding-bottom: 2vmin;
}

#About #about-h {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  /* color:#d7fa6e; */
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

.about {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#headshot {
  align-self: center;
  scale: 100%;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 1vmin;
  margin: 1vmin;
  /* background-image: linear-gradient(140deg, #2a5fff 0%, #a3a3a3df 40%, #9ac001 85%); */

}

.hsactive {
  animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

#About p {
  align-self: center;
  text-align: center;
  font-size: 1.75rem;
  padding: 2vmin;
  /* color:#d7fa6e; */
  /* color:#b00404; */
  color: #59e39f;
}

hr {
  color: #59e39f;
}

#Skills {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  
}

#Skills p {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  /* color:#d7fa6e; */
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#skill-icons {
  background-color: rgba(255,255,255, .7);
  border-radius: 3vmin;
  padding: 2vmin;
}

.iconsfadein {
  animation: icons-fade-in 2.5s ease;
}

@keyframes icons-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.iconsfadeout {
  animation: icons-fade-out 2.5s ease;
}

@keyframes icons-fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

icons div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 15vw);
  column-gap: 1vmin;
  margin: 2vmin;
  justify-items: center;
}

icons div:last-child {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 15vw);
  column-gap: 1vmin;
  justify-items: center;
}

icons div > * {
  height: 9.5rem;
  width: 9.5rem;
}

#Work {
  padding: 2vmin;
  display: flex;
  flex-direction: column;
}

#Work #work-p {
  align-self: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  /* color:#d7fa6e; */
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

.proj-title {
  color: #59e39f;
  font-size: 4.5vmin;
  text-decoration: underline;

  }

#Work icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 10vh;
  align-self: center;
}

#Work icons img {
  margin-right: 1.6vmin;
}

#Work form {
  margin: 1vmin;
}

#materialize-ic {
  height: 4rem;
  width: 4rem;
}

#mongoose-ic {
  height: 7rem;
  width: 6rem;
}

#powepal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vmin 45vmin 11vmin 11vmin 11vmin;
}

#powepal .proj-title {
  grid-column: 1;
  grid-row: 1;
  text-decoration: underline;
  justify-self: center;
  align-self: center;
}

#powepal p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 100%;
  padding: 3vmin;
  color: rgba(193,255,114,1);
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.powepal-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: powepal-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
}

@keyframes powepal-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/PowePalLoginScreen.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/ResortListPage.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/ResortInfoHomePage.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/TrailHomePagewithGoogleMapAPI.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/WeatherPagewithWeatherAPI.png');
  }
}

#powepal icons {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-row: 3;
}

#powepal form {
  grid-column: 1;
  align-self: center;
  justify-self: flex-start;
}

#powepal form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#docupets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vmin 45vmin 11vmin 11vmin 11vmin;
}

#docupets .proj-title {
  grid-column: 2;
  grid-row: 1;
  text-decoration: underline;
  justify-self: center;
  align-self: center;
}

#docupets p {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 100%;
  padding: 3vmin;
  color: #ef8354;
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.docupets-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: docupets-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 1;
}

@keyframes docupets-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-add-visit.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-petdetail_mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Docupets-sidenav.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
}

#docupets icons {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  grid-row: 3;
}

#docupets form {
  grid-column: 2;
  align-self: center;
  justify-self: flex-end;
}

#docupets form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}


#JerseyCollector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 35vh 12vh 10vh;
}

#JerseyCollector p {
  grid-column: 1;
  grid-row: 2;
}

/* .JerseyCollector-slideshow {
  height: 45vh;
  width: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: JerseyCollector-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 1 / span 2;
  grid-column: 2;
}

@keyframes JerseyCollector-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-add-visit.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-petdetail_mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Docupets-sidenav.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/DocuPets-Yourpets.png');
  }
} */

#JerseyCollector icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#JerseyCollector form {
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

#JerseyCollector form button {
  font-size: 2vmin;
}

#LAMS {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vmin 45vmin 10vmin 11vmin 11vmin;
}

#LAMS .proj-title {
  grid-column: 1 /span 2;
  grid-row: 1;
  text-decoration: underline;
  align-self: center;
}

#LAMS p {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  max-height: 100%;
  padding: 4vmin;
  color: #b00404;
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.LAMS-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: LAMS-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
}

@keyframes LAMS-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Home-Standard.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Roster-Mobile.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Add-an-Artist-Mobile.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/Deals-Page-Standard.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/LAMS-Home-Standard.png');
  }
}

#LAMS icons {
  grid-column: 1 / span 2;
  grid-row: 3;
}

#LAMS form {
  grid-column: 1;
  align-self: center;
  justify-self: flex-start;
}

#LAMS .form1 {
  grid-row: 4;
}

#LAMS .form2 {
  grid-row: 5;
}

#LAMS form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#MasterMind {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vmin 45vmin 10vmin 11vmin 11vmin;
}

#MasterMind .proj-title {
  grid-column: 2;
  text-decoration: underline;
  justify-self: center;
  align-self: center;
}

#MasterMind p {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  padding: 4vmin;
  max-height: 100%;
  color: rgb(154, 27, 47);
  font-size: 2.5vmin;
  background-color: rgba(126, 124, 124, .9);
  border-radius: 3vmin;
}

.MasterMind-slideshow {
  height: 95%;
  width: 95%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: MasterMind-slideshow 30s linear infinite;
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 1;
}

@keyframes MasterMind-slideshow {
  0% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Initial.png');
  }
  25% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-Mastermind-Guess-Screen.png");
  }
  50% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Loss.png");
  }
  75% {
    background-image: url("https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Win.png");
  }
  100% {
    background-image: url('https://ewotoolejc.github.io/evanwotoole/assets/AUFC-MasterMind-Initial.png');
  }
}

#MasterMind icons {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: row-reverse;
  grid-row: 3;
  align-self: center;
  justify-self: flex-end;
}

#MasterMind .form1 {
  grid-row: 4;
  grid-column: 2;
  align-self: center;
  justify-self: flex-end;
}

#MasterMind .form2 {
  grid-row: 5;
  grid-column: 2;
  align-self: center;
  justify-self: flex-end;
}

#MasterMind form button {
  font-size: 3.5vmin;
  color: #59e39f;
  border-color: #59e39f;
}

#Contact {
  display: flex;
  flex-direction: column;
  padding: 2vmin;
  align-items: center;
}

#Contact #contact-p {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 6vmin;
  /* color:#d7fa6e; */
  color: #59e39f;
  text-shadow: 1.5px 1.5px 1.5px rgb(168, 146, 98);
}

#Contact p {
  text-align: center;
  font-size: 3vmin;
}

#contact-ptext {
  background-color: rgba(154, 27, 47, .8);
  padding: 1.5vmin;
  border-radius: 2vmin;
  font-size: 3vmin;
  color: rgb(168, 146, 98);
  font-weight: bolder;
}

#social-buttons {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
}

#social-buttons form {
  margin: 2vmin;
}

#social-buttons button {
  color: #59e39f;
  border-color: #59e39f;
  font-size: 4vmin;
}

footer {
  padding: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2.5vmin;
  color: #59e39f;
}
}